/**引入weui样式 本工程使用 useExtendedLib 可以省略 下面的 import **/
// @import 'weui-miniprogram/weui-wxss/dist/style/weui.wxss';
/**app.wxss**/

.page-container {
  height: 100vh;
  box-sizing: border-box;
}
.flex-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20rpx 0;
  box-sizing: border-box;
}
